* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.wrapper {
    width: 2000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;

}


.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color:  black;
    margin-bottom: 130px;
}


.active .player-name::after {
    font-size: 47px;
    position: absolute;
    color: black;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: black;
    color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    font-size: 50px;
}





button {
    text-transform: uppercase;
    position: absolute;
    width: 200px;
    left: 50%;
    background-color: black;
    color: #fff;
    transform: translateX(-50%);
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}




.btn-new { top: 400px;}
.btn-roll { top: 450px;}
.btn-hold { top: 500px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    background-color: #fff;
    font-size: 55px;
    height: 200px;
}

.winner { background-color: #f7f7f7; }
