.users h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

table, tr, td, th{
    border: 1px solid #333 !important;
    text-align: center;
}

td, th{
    padding: 10px;
}

.users .btn{
    border: 1px solid black;
}

.users .btn:hover{
    background-color: rgb(160, 158, 158);
}

#logout{
    display: block;
    margin: 20px;
    width: 10%;
}