table {
    margin: auto;
    background-color: #7fc6e6;
    width: 295px;
    height: 325px;
    text-align: center;
    border-radius: 10px;
}
input {
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
}
input:hover {
    border: 0 solid #000;
    color: #495069;
    background-color: #cc38e0;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
}
#answer {
    width: 270px;
    font-size: 26px;
    text-align: center;
    background-color: #F1FAEB;
    float: left;
}
.operator {
    background-color: #f1ff92;
    position: relative;
}
.operator:hover {
    background-color: #E7F56B;
}
#clear {
    float: left;
    position: relative;
    display: block;
    background-color: #ff9fa8;
    margin-bottom: 15px;
}
#clear:hover {
    float: left;
    display: block;
    background-color: #F297A0;
    margin-bottom: 15px;
}